@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-jumbotron {
  background-image:
    linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)),
    url("../assets/images/bg-jumbotron.png");
}

.padding-global{
  padding-left: 5%;
  padding-right: 5%;
}